<!-- contact-add-edit.component.html -->

<div>
    <!-- Angular Material autocomplete for adding products -->
    <mat-form-field class="fuse-mat-dense w-full">
      <input matInput type="text" placeholder="Add product" [matAutocomplete]="auto" [(ngModel)]="newProductName">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addSelectedProduct()">
        <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
          {{ product.productName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  
  <!-- Angular Material table to display selected products -->
  <table mat-table [dataSource]="selectedProducts">
    <!-- Sr. No. -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>Sr. No.</th>
      <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
    </ng-container>
  
    <!-- Product Name -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>Product Name</th>
      <td mat-cell *matCellDef="let product">{{ product.productName }}</td>
    </ng-container>
  
    <!-- Price -->
    <ng-container matColumnDef="productPrice">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product">{{ product.productPrice }}</td>
    </ng-container>
  
    <!-- Action -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let i = index">
        <button mat-icon-button color="warn" (click)="deleteSelectedProduct(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['index', 'productName', 'productPrice', 'action']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['index', 'productName', 'productPrice', 'action'];"></tr>
  </table>
  