<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6">
        <div class="w-full flex justify-between items-center mb-2">
            <mat-label class="table-title float-left">{{ 'productList-table-title' | transloco }}</mat-label>
            <div class="table-header-action">
                <button mat-raised-button color="primary"
                            (click)="add()">{{'button-add-product' | transloco}}</button>
            </div>
        </div>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title><span>{{ 'table-filter-lable' | transloco }}</span></mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <form [formGroup]="filterForm" class="flex flex-wrap -mx-2" *ngIf="filterForm">
                    @for (lableName of displayedColumns; track lableName) {
                    <div class="w-full sm:w-1/2 md:w-1/4 px-2" *ngIf="!skipLableForFilter.includes(lableName)">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>{{lableName}}</mat-label>
                            <input matInput [formControlName]="lableName">
                        </mat-form-field>
                    </div>
                    }
                    <div class="flex flex-row space-x-1">
                        <button mat-raised-button color="primary"
                            (click)="search()">{{'button-apply' | transloco}}</button>
                        <button mat-raised-button (click)="clear()">{{'button-clear' |
                            transloco}}</button>
                    </div>
                </form> -->
            </mat-expansion-panel>
        </mat-accordion>

        <div class="h-98 rounded-2xl mt-2.5">
            <!-- <table *ngIf="dataSource" mat-table [dataSource]="dataSource" matSort>
                <ng-container *ngFor="let ds of displayedColumns; let colIndex = index" [ngSwitch]="ds">
                    <ng-container *ngSwitchCase="'id'" matColumnDef="id">
                        <th class="bg-primary" mat-header-cell *matHeaderCellDef> {{displayedColumns[colIndex]}} </th>
                        <td mat-cell *matCellDef="let element; let i = index;"> {{ (paginator?.pageIndex *
                            paginator?.pageSize) + (i
                            + 1) }} </td>
                    </ng-container>
                    <ng-container *ngSwitchDefault matColumnDef="{{ds}}">
                        <th class="bg-primary" mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{displayedColumns[colIndex]}}</th>
                        <td mat-cell *matCellDef="let element"><span
                                class="mat-column-{{ds}}-text">{{element[ds]}}</span></td>
                    </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">

                </tr>
            </table>
            <div class="noRecords" style="text-align: center;" *ngIf="dataSource && dataSource.data.length==0">
                No records found
            </div>
            <div *ngIf="loading" style="display: flex;justify-content: center;">
                <mat-spinner class="avatar spinner" [diameter]="60"></mat-spinner>
            </div>
            <mat-paginator #paginator [pageSize]="pageSize" [length]="totalElements" [hidePageSize]="false"
                [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons aria-label="Select page "
                (page)="onPaging($event)">
            </mat-paginator> -->
        </div>
    </div>
</div>