<mat-sidenav-container class="w-full">
    <mat-sidenav opened mode="side">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/settings/inventory/default-udf-value']" routerLinkActive="bg-primary active-link"
                [routerLinkActiveOptions]="{ exact: false }">
                <span class="flex">
                    <span class="material-symbols-outlined">currency_rupee</span>
                    <span class="ml-2">Default POS Setting</span>
                </span>

            </a>
           <a mat-list-item [routerLink]="['/settings/inventory/pricing-attribute-setting']" routerLinkActive="bg-primary active-link"
                [routerLinkActiveOptions]="{ exact: false }">
                <span class="flex">
                    <span class="material-symbols-outlined">currency_rupee</span>
                    <span class="ml-2">Pricing Attribute</span>
                </span>

            </a>        
            
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>