.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.mat-mdc-form-field-required-marker {
    color: red !important;
}

.mat-accordion .mat-expansion-panel {
    margin-bottom: 10px !important;
}