::ng-deep app-pos-additional-charges-dialog {
    .mat-mdc-header-row {
        height: 30px !important;
    }
    .mat-mdc-row:nth-child(even) {
        background-color: #f0f0f0;
    }
    .mat-mdc-row:nth-child(odd) {
        background-color: #ffffff;
        /* White color for odd rows */
    }
    .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }
    .mat-mdc-row{
       font-weight: 500; 
    }
}