<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto p-6">
  <form [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
    <div class="flex flex-wrap">
    <ng-container *ngFor="let setting of settingList">
    
    <div class="w-full sm:w-1/2 md:w-1/4 px-2" >
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>{{ setting.name }}</mat-label>
        <input matInput [formControlName]="setting.code" />
        </mat-form-field>
      </div>
   
    </ng-container>
  </div>
      <button mat-raised-button color="primary" type="submit">Save </button>
    </form>
  </div>
</div>