<mat-form-field class="fuse-mat-dense w-full" [formGroup]="parentForm">
    <mat-label>{{formElement.label}}</mat-label>
    <mat-chip-grid #chipGrid [formControlName]="formElement.name">
      @for (tag of tags; track tag) {
        <mat-chip-row
          (removed)="remove(tag)"
          [editable]="false">
          {{tag}}
          <button matChipRemove [attr.aria-label]="'remove ' + tag">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input [placeholder]="formElement.placeholder?formElement.placeholder: 'New Tag...'"
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-grid>
  </mat-form-field>