.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  .customer-form {
    display: flex;
    flex-direction: row;
  }
  
  .mat-form-field {
    margin-right: 10px;
    margin-left: 10px;
  }
  .mat-form-field {
    background-color: #f0f0f0;
    border: 4px solid #ccc;
    border-radius: 5px;
    padding: 8px;
  }
  .mat-form-f {
    height: 90% !important;
  }
  .row{
    display: flex;
    gap:10px;
  }
  // .row {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust minimum width and column count as needed */
  //   grid-gap: 1rem; /* Add some spacing between fields */
  //   align-items: center;
  // }
  // .row {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust minimum width and column count as needed */
  //   grid-gap: 1rem; /* Add some spacing between fields */
  //   align-items: center;
  // }
  
  