
<div class="flex flex-col flex-auto min-w-0">
    
    <div class="flex-auto p-6">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="flex flex-col mx-2" autocomplete="off">  
       <mat-card>
      <mat-card-content>
    <div class="flex justify-between w-full">
        <label class="label">
          <mat-radio-group formControlName="contactType">
            <mat-radio-button value="customer">Customer</mat-radio-button>
            <mat-radio-button value="supplier">Supplier</mat-radio-button>
            <mat-radio-button value="transport">Transport</mat-radio-button>
          </mat-radio-group>
        </label>
      </div>
    
  </mat-card-content>
</mat-card>
<br>
<div class="h-400 min-h-400 max-h-400 rounded-2xl mt-2.5">
  <mat-card>
      <mat-card-content>
      <div formGroupName="generalDetails"  class="flex flex-wrap -mx-2">
     <ng-container *ngIf="contactForm.get('contactType').value === 'customer'">
    
      <div class="w-full sm:w-1/2 md:w-1/6 px-2">
        <mat-form-field class="fuse-mat-dense w-full">
          <mat-icon matPrefix svgIcon="heroicons_outline:user-circle" class="icon-size-5"></mat-icon>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" placeholder="First Name">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/6 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-icon matPrefix svgIcon="heroicons_outline:user-circle" class="icon-size-5"></mat-icon>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last Name">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-icon matPrefix>account_balance</mat-icon>
          <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" placeholder="Company Name">
      </mat-form-field>
    </div>
    <div class="w-50 sm:w-1/2 md:w-1/6 px-2">
      <mat-form-field class="fuse-mat-dense w-20">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" placeholder="Code">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
        <mat-form-field class="fuse-mat-dense w-full">
          <mat-icon matPrefix>mail</mat-icon>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/5 px-2">
        <mat-form-field class="fuse-mat-dense w-full">
          <mat-icon matPrefix>call</mat-icon>
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNo" placeholder="Mobile Number">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/5 px-2">
        <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Telephone Number</mat-label>
        <input matInput formControlName="telephoneNo" placeholder="Telephone Number">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 px-2">
        <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Remarks</mat-label>
        <input matInput formControlName="remarks" placeholder="Remarks">
      </mat-form-field>
    </div>
    <!-- <div class="w-full sm:w-1/2 md:w-1/4 px-2">
        <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>TDS</mat-label>
        <input matInput formControlName="tds" placeholder="trs">
      </mat-form-field>
    </div> -->
    <div class="w-full sm:w-1/4 md:w-1/4 px-2 flex items-center">
      <mat-checkbox formControlName="tds">TDS</mat-checkbox>
  </div>
     <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Opening  Balance</mat-label>
        <input matInput formControlName="creditLimit" placeholder="Credit Limit">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label></mat-label>
        <input matInput formControlName="debitAmount" placeholder="Debit Amount">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
     <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Payment Mode</mat-label>
        <input matInput formControlName="paymentMode" placeholder="Payment Mode">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
     <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Payment Terms</mat-label>
        <input matInput formControlName="paymentTerms" placeholder="Payment Terms">
      </mat-form-field>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/4 px-2">
        <mat-form-field class="fuse-mat-dense w-full">
            <mat-label>Date Of Birth</mat-label>
            <input matInput [matDatepicker]="dateOfBirth" formControlName="dateOfBirth">
            <mat-datepicker-toggle matIconSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
            <mat-datepicker #dateOfBirth></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
        <mat-form-field class="fuse-mat-dense w-full">
            <mat-label>Anniversary Date</mat-label>
            <input matInput [matDatepicker]="anniversaryDate" formControlName="anniversaryDate">
            <mat-datepicker-toggle matIconSuffix [for]="anniversaryDate"></mat-datepicker-toggle>
            <mat-datepicker #anniversaryDate></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
          <mat-label>Customer Category</mat-label>
          <mat-select formControlName="city">
            @for (city of cities; track city) {
              <mat-option [value]="city.value">{{city.option}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
  </div>
  <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
          <mat-label>Membership </mat-label>
          <mat-select formControlName="city">
            @for (city of cities; track city) {
              <mat-option [value]="city.value">{{city.option}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
  </div>
  <div class="w-full sm:w-1/4 md:w-1/2 px-2 ">
      <strong style="color: #727b88;">Type </strong>
      <div class="">
          <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="retailer">Retailer</mat-radio-button>
              <mat-radio-button value="wholesaler">Wholesaler</mat-radio-button>
              <mat-radio-button value="other">Other</mat-radio-button>
              <mat-radio-button value="merchant">Merchant</mat-radio-button>
           </mat-radio-group>
      </div>
    </div>

    <!-- Inside the form -->
<!-- <div formArrayName="productDetails">
  <div *ngFor="let product of contactForm.get('productDetails').controls; let i = index;">
    <div [formGroupName]="i">
      <mat-form-field appearance="fill">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="productName" placeholder="Product Name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" placeholder="Price">
      </mat-form-field>
      
       <button mat-icon-button (click)="removeProduct(i)">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div> 
</div> -->
 <!-- Changed to addressDetails -->
 <!-- <div formArrayName="addressDetails"> -->
  <div>
  <div *ngIf="addressFormArray.length === 0">No addresses available.</div>
 <div *ngFor="let addressGroup of addressFormArray.controls; let i = index" [formGroupName]="i"> -->
    <!-- <div> -->
    <mat-card>
      <mat-card-content>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>GST Type</mat-label>
          <input matInput placeholder="GST Type" formControlName="gstType">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>GSTIN</mat-label>
          <input matInput placeholder="GSTIN" formControlName="gstin">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>PAN No.</mat-label>
          <input matInput placeholder="PAN No." formControlName="panNo">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>Contact First Name</mat-label>
          <input matInput placeholder="Contact First Name" formControlName="contactFirstName">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>Contact Last Name</mat-label>
          <input matInput placeholder="Contact Last Name" formControlName="contactLastName">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>Contact Company Name</mat-label>
          <input matInput placeholder="Contact Company Name" formControlName="contactCompanyName">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>Contact No.</mat-label>
          <input matInput placeholder="Contact No." formControlName="contactNo">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>Contact Email</mat-label>
          <input matInput placeholder="Contact Email" formControlName="contactEmail">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>Address Line 1</mat-label>
          <input matInput placeholder="Address Line 1" formControlName="addressLine1">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>Address Line 2</mat-label>
          <input matInput placeholder="Address Line 2" formControlName="addressLine2">
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state.id">{{ state.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>City</mat-label>
            <mat-select formControlName="city">
            <mat-option *ngFor="let district of districts" [value]="district.id">{{ district.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="fuse-mat-dense mx-1">
          <mat-label>Pincode</mat-label>
          <input matInput placeholder="Pincode" formControlName="pincode">
        </mat-form-field>
        <button mat-stroked-button color="warn" (click)="removeAddressLine()">
          <mat-icon>remove</mat-icon>
        </button>
        <button type="button" mat-stroked-button color="primary" (click)="addAddressLine()">
    <mat-icon>add</mat-icon> Add Address
  </button>
      </mat-card-content>
    </mat-card>
  </div>
  
</div>



    </ng-container>
 
    <!-- Supplier specific fields -->

    <ng-container *ngIf="contactForm.get('contactType').value === 'supplier'">
      <div class="w-full sm:w-1/2 md:w-1/6 px-2">
        <mat-form-field class="fuse-mat-dense w-full">
          <mat-icon matPrefix svgIcon="heroicons_outline:user-circle" class="icon-size-5"></mat-icon>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="First Name">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/6 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-icon matPrefix svgIcon="heroicons_outline:user-circle" class="icon-size-5"></mat-icon>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last Name">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" placeholder="Company Name">
      </mat-form-field>
    </div>
    <div class="w-50 sm:w-1/2 md:w-1/6 px-2">
      <mat-form-field class="fuse-mat-dense w-20">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" placeholder="Code">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-icon matPrefix>mail</mat-icon>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/6 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-icon matPrefix>call</mat-icon>
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNo" placeholder="Mobile Number">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/6 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-icon matPrefix>phone</mat-icon>
        <mat-label>Telephone Number</mat-label>
        <input matInput formControlName="telephoneNo" placeholder="Telephone Number">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Remarks</mat-label>
        <input matInput formControlName="remarks" placeholder="Remarks">
      </mat-form-field>
    </div>
       <div class="w-full sm:w-1/4 md:w-1/4 px-2 flex items-center">
        <mat-checkbox formControlName="tds">TDS</mat-checkbox>
    </div>
   
    <div class="w-full sm:w-1/2 md:w-1/6 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Credit Limit</mat-label>
        <input matInput formControlName="creditLimit" placeholder="Credit Limit">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/5 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Bank Name</mat-label>
        <input matInput formControlName="bankName" placeholder="Bank Name">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/5 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Branch Name</mat-label>
        <input matInput formControlName="branchName" placeholder="Branch Name">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/6 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>IFSC Code</mat-label>
        <input matInput formControlName="ifscCode" placeholder="IFSC Code">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Account Number</mat-label>
        <input matInput formControlName="accountNo" placeholder="Account Number">
      </mat-form-field>
    </div>
  </ng-container>
    <!-- Transport specific fields -->
    <ng-container *ngIf="contactForm.get('contactType').value === 'transport'">
    
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="First Name">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last Name">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" placeholder="Company Name">
      </mat-form-field>
    </div>
    <div class="w-50 sm:w-1/2 md:w-1/6 px-2">
      <mat-form-field class="fuse-mat-dense w-20">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" placeholder="Code">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-icon matPrefix>call</mat-icon>
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNo" placeholder="Mobile Number">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Telephone Number</mat-label>
        <input matInput formControlName="telephoneNo" placeholder="Telephone Number">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Remarks</mat-label>
        <input matInput formControlName="remarks" placeholder="Remarks">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Date of Birth</mat-label>
         <input matInput [matDatepicker]="dateOfBirth" formControlName="dateOfBirth">
            <mat-datepicker-toggle matIconSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
            <mat-datepicker #dateOfBirth></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Anniversary Date</mat-label>
        <input matInput [matDatepicker]="anniversaryDate" formControlName="anniversaryDate" placeholder="Anniversary Date">
        <mat-datepicker-toggle matIconSuffix [for]="anniversaryDate"></mat-datepicker-toggle>
        <mat-datepicker #anniversaryDate></mat-datepicker>
        <mat-datepicker #anniversaryDate></mat-datepicker>
    </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>TDS</mat-label>
        <input matInput formControlName="tds" placeholder="TDS">
      </mat-form-field>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 px-2">
      <mat-form-field class="fuse-mat-dense w-full">
        <mat-label>Transport ID</mat-label>
        <input matInput formControlName="transportId" placeholder="Transport ID">
      </mat-form-field>
    </div>
 
  </ng-container>
      </div>
</mat-card-content>
</mat-card>
<div class="w-full mt-5">
  <button type="submit" mat-raised-button color="primary">
     Save
    </button>
  <button type="button" mat-raised-button color="basic" (click)="cancel()">
      <mat-icon svgIcon="cancel"></mat-icon>
      Cancel
  </button>
  </div> 
</div>
</form> 
   </div>
</div>

 
  