<div class="flex flex-col flex-auto">
    <div class="p-6 md:p-8 space-y-4">
        <div class="font-medium">Shop Settings</div>
        <div class="flex flex-wrap -m-2 mt-2">
            <!-- <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                <a class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer" [routerLink]="['/admin/roles']">
                    <div class="aspect-[9/6]">
                        <div class="flex items-center justify-center h-full">
                            <mat-icon class="icon-size-14 text-hint" [svgIcon]="'mat_solid:shop'"></mat-icon>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                        <div class="truncate">Organization</div>
                    </div>
                </a>
            </div> -->
            <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                <a class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer" [routerLink]="['/admin-settings/roles']">
                    <div class="aspect-[9/6]">
                        <div class="flex items-center justify-center h-full">
                            <mat-icon class="icon-size-14 text-hint"
                                [svgIcon]="'mat_solid:security'"></mat-icon>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                        <div class="truncate">User Roles</div>
                    </div>
                </a>
            </div>

            <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                <a class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer" [routerLink]="['/setting/udf-config']">
                    <div class="aspect-[9/6]">
                        <div class="flex items-center justify-center h-full">
                            <mat-icon class="icon-size-14 text-hint"
                                [svgIcon]="'mat_solid:inventory_2'"></mat-icon>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                        <div class="truncate">UDF Config</div>
                    </div>
                </a>
            </div>
            <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                <a class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer" [routerLink]="['/tax']">
                    <div class="aspect-[9/6]">
                        <div class="flex items-center justify-center h-full">
                            <mat-icon class="icon-size-14 text-hint"
                                [svgIcon]="'heroicons_solid:chart-bar'"></mat-icon>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                        <div class="truncate">Tax</div>
                    </div>
                </a>
            </div>
            <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                <a class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer" [routerLink]="['/tax-and-rules']">
                    <div class="aspect-[9/6]">
                        <div class="flex items-center justify-center h-full">
                            <mat-icon class="icon-size-14 text-hint"
                                [svgIcon]="'mat_solid:add_to_photos'"></mat-icon>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                        <div class="truncate">Tax Rules</div>
                    </div>
                </a>
            </div>

          
        </div>
    </div>
</div>