<mat-card>
  <mat-card-header>
    <h4>Address Details</h4>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-col flex-auto min-w-0">
      <div class="flex-auto p-6">
        <form [formGroup]="addressForm" (ngSubmit)="onSaveAddress()">
          <div formArrayName="addressLines">
            <div *ngFor="let addressLine of addressLines.controls; let i=index" [formGroupName]="i">
              <ng-container>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>GST Type</mat-label>
                  <input matInput placeholder="GST Type" formControlName="gstType">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>GSTIN</mat-label>
                  <input matInput placeholder="GSTIN *" formControlName="gstin">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>PAN No.</mat-label>
                  <input matInput placeholder="PAN No." formControlName="panNo">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>Contact First Name *</mat-label>
                  <input matInput placeholder="Contact First Name *" formControlName="contactFirstName">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>Contact Last Name</mat-label>
                  <input matInput placeholder="Contact Last Name" formControlName="contactLastName">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>Contact Company Name</mat-label>
                  <input matInput placeholder="Contact Company Name" formControlName="contactCompanyName">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>Contact No.</mat-label>
                  <input matInput placeholder="Contact No." formControlName="contactNo">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>Contact Email *</mat-label>
                  <input matInput placeholder="Contact Email *" formControlName="contactEmail">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>Address Line 1</mat-label>
                  <input matInput placeholder="Address Line 1" formControlName="addressLine1">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>Address Line 2</mat-label>
                  <input matInput placeholder="Address Line 2" formControlName="addressLine2">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>Select Country</mat-label>
                  <input matInput placeholder="Select Country" formControlName="country">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>Select State</mat-label>
                  <input matInput placeholder="Select State" formControlName="state">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>Select City</mat-label>
                  <input matInput placeholder="Select City" formControlName="city">
                </mat-form-field>
                <mat-form-field class="fuse-mat-dense mx-1">
                  <mat-label>Pincode *</mat-label>
                  <input matInput placeholder="Pincode *" formControlName="pincode">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="removeAddressLine(i)" *ngIf="addressLines.length > 1">
                  <mat-icon>remove</mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="addAddressLine()">
                  <mat-icon>add</mat-icon>
                </button>
              </ng-container>
            </div>
          </div>
          <button type="submit" mat-raised-button color="primary">Save Address</button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
