

html, body {
  height: 100%;
  margin: 0;
}
mat-button-toggle .icon,
mat-button-toggle .label {
  color: inherit;
}

// When selected - SMS
.sms-selected .icon,
.sms-selected .label {
  color: #1976d2; // Blue
}

// When selected - WhatsApp
.whatsapp-selected .icon,
.whatsapp-selected .label {
  color: #25D366; // WhatsApp Green
}
.full-page-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  height: 100%;
}

.section-wrapper {
  height: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.full-page-container {
  background-color: #ffffff;
  padding: 0px !important;
}
.sms-table {
  width: 100%;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

.dropdown {
  width: 300px;
  margin-bottom: 20px;
}
.toggle-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; // Full screen
  background-color: #fff;
}

.custom-toggle-group {
  display: flex;
  justify-content: center;
  margin: 16px auto;
  border-bottom: 2px solid black;
  padding-bottom: 8px;
}

mat-button-toggle {
  border-radius: 0 !important;
  border-bottom: 4px solid transparent;
  font-weight: 500;
  padding: 8px 20px;
  color: #333;
}