<h2 mat-dialog-title class="font-bold">{{ title }}</h2>
<mat-dialog-content>
  <form [formGroup]="dialogForm" (ngSubmit)="onSubmit()" class="pl-3">
    <div *ngFor="let field of data.fields" class="w-full px-2">
      <mat-form-field class="fuse-mat-dense mx-1 w-full" *ngIf="field.type === 'input'">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [formControlName]="field.name" [placeholder]="field.placeholder">
        <mat-error *ngIf="dialogForm.get(field.name)?.invalid && dialogForm.get(field.name)?.touched">
          {{ field.label }} is required
        </mat-error>
      </mat-form-field>
      <app-rv-auto-complete *ngIf="field.type === 'auto-complete' && field.formElement" class="w-full"
                                [parentForm]="dialogForm"
                                [formElement]="field.formElement" [fixedValue]="false"></app-rv-auto-complete>
    </div>
    <mat-dialog-actions>
      <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" type="submit" >Add</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
