<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6">
        <div class="flex justify-between w-full">
            <mat-label class="table-title float-left">{{ 'lable-add-employee' | transloco }}</mat-label>
        </div>

        <div class="h-98 rounded-2xl mt-2.5">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="flex flex-wrap -mx-2" autocomplete="off">
                <div class="w-full sm:w-1/2 md:w-1/4 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-icon matPrefix svgIcon="heroicons_outline:user-circle" class="icon-size-5"></mat-icon>
                        <mat-label >First Name</mat-label>
                        <input matInput formControlName="firstName">
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/4 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-icon matPrefix svgIcon="heroicons_outline:user-circle" class="icon-size-5"></mat-icon>

                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/4 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-icon matPrefix>mail_outline</mat-icon>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" autocomplete="nope"
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                        @if (employeeForm.controls['email'].errors?.pattern) {
                        <mat-error>Email is invalid.</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/4 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-icon matPrefix>call</mat-icon>
                        <mat-label>Mobile Number</mat-label>
                        <input matInput formControlName="mobileNumber">
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/4 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-icon matPrefix svgIcon="heroicons_solid:identification"></mat-icon>
                        <mat-label>PAN</mat-label>
                        <input matInput formControlName="pan" pattern="[A-Z]{5}[0-9]{4}[A-Z]">
                        @if (employeeForm.controls['pan'].errors?.pattern) {
                        <mat-error>PAN is invalid.</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/4 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput [matDatepicker]="dateOfBirth" formControlName="dateOfBirth">
                        <mat-datepicker-toggle matIconSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfBirth></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/4 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>Date Of Joining</mat-label>
                        <input matInput [matDatepicker]="dateOfJoining" formControlName="dateOfJoining">
                        <mat-datepicker-toggle matIconSuffix [for]="dateOfJoining"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfJoining></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="w-full"></div>
                <div class="w-full sm:w-1/2 md:w-1/4 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                        <mat-label>Address Line 1</mat-label>
                        <textarea matInput cdkTextareaAutosize [cdkAutosizeMinRows]="1" [cdkAutosizeMaxRows]="1"
                            formControlName="address1"></textarea>
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/4 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                        <mat-label>Address Line 2</mat-label>
                        <textarea matInput cdkTextareaAutosize [cdkAutosizeMinRows]="1" [cdkAutosizeMaxRows]="1"
                            formControlName="address2"></textarea>
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/2 md:w-2/4 px-2 flex gap-2">
                    <div class="w-full sm:w-1/2 md:w-1/4">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>Country</mat-label>
                            <input matInput formControlName="country">
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/2 md:w-1/4">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>State</mat-label>
                            <input matInput formControlName="state">
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/2 md:w-1/4">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>City</mat-label>
                            <input matInput formControlName="city">
                        </mat-form-field>
                    </div>

                    <div class="w-full sm:w-1/2 md:w-1/4">
                        <mat-form-field class="fuse-mat-dense w-full">
                            <mat-label>Zip Code</mat-label>
                            <input matInput formControlName="zipCode">
                        </mat-form-field>
                    </div>
                </div>
                <div class="w-full"></div>
                <div class="w-full sm:w-1/4 md:w-1/4 px-2 flex items-center">
                    <mat-slide-toggle color="primary" formControlName="manager">Manager</mat-slide-toggle>
                </div>
                <div class="w-full sm:w-1/4 md:w-1/4 px-2 flex items-center">
                    <mat-slide-toggle color="primary" formControlName="deliveryUser">Delivery User</mat-slide-toggle>
                </div>
                <div class="w-full sm:w-1/4 md:w-1/4 px-2 flex items-center">
                    <mat-slide-toggle color="primary" formControlName="salaryAccount">Salary Account</mat-slide-toggle>
                </div>
                <div class="w-full mt-4"></div>
                <div class="w-full sm:w-1/3 md:w-1/6 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-icon matPrefix svgIcon="home_work" class="icon-size-5"></mat-icon>
                        <mat-label>Bank Name</mat-label>
                        <input matInput formControlName="bankName" (input)="upperCaseInput('bankName')">
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/3 md:w-1/6 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>Branch Name</mat-label>
                        <input matInput formControlName="branchName">
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/3 md:w-1/6 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>Account Number</mat-label>
                        <input matInput formControlName="accountNumber">
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/3 md:w-1/6 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>IFSC Code</mat-label>
                        <input matInput formControlName="swiftCode">
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/3 md:w-1/6 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>Account Holder Name</mat-label>
                        <input matInput formControlName="accountHolderName">
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/3 md:w-1/6 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>Swift Code</mat-label>
                        <input matInput formControlName="swiftCode">
                    </mat-form-field>
                </div>
                <div class="w-full"></div>
                <div class="w-full sm:w-1/3 md:w-1/6 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>Wages</mat-label>
                        <input matInput formControlName="wages">
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/3 md:w-1/6 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>Commission (%)</mat-label>
                        <input matInput formControlName="commission">
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/3 md:w-1/6 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>Extra Wages</mat-label>
                        <input matInput formControlName="extraWages">
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/3 md:w-1/6 px-2">
                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>Target</mat-label>
                        <input matInput formControlName="target">
                    </mat-form-field>
                </div>
                @if(sessionUser.permissions.includes('ADMIN') || (!editMode &&
                sessionUser.permissions.includes('CREATE_USER')) || (editMode &&
                sessionUser.permissions.includes('EDIT_USER'))){
                <div class="w-full"></div>
                <mat-accordion class="w-full">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title><span>{{ 'user-auth--details-panel' | transloco }}</span></mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex flex-wrap">
                            <div class="w-full sm:w-1/3 md:w-1/3 px-2">
                                <mat-form-field class="fuse-mat-dense w-full">
                                    <mat-icon matPrefix svgIcon="heroicons_outline:user-circle"
                                        class="icon-size-5"></mat-icon>
                                    <mat-label>User Name</mat-label>
                                    <input matInput formControlName="username">
                                </mat-form-field>
                            </div>
                            <div class="w-full sm:w-1/3 md:w-1/3 px-2">
                                <mat-form-field class="fuse-mat-dense w-full">
                                    <mat-icon matPrefix svgIcon="heroicons_outline:user-circle"
                                        class="icon-size-5"></mat-icon>
                                    <mat-label>Password</mat-label>
                                    <input matInput type="password" formControlName="password">
                                </mat-form-field>
                            </div>
                            <div class="w-full sm:w-1/3 md:w-1/3 px-2">
                                <mat-form-field class="fuse-mat-dense w-full">
                                    <mat-label>Select Role</mat-label>
                                    <input matInput formControlName="role" [matAutocomplete]="roleAutoFormField">
                                    <mat-autocomplete autoActiveFirstOption #roleAutoFormField="matAutocomplete"
                                        [displayWith]="displayFormElement">
                                        <mat-option *ngFor="let item of filteredList | async"
                                            [value]="item.key">{{item.value}}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                }
                <div class="w-full mt-5"></div>
                <button type="submit" mat-raised-button color="primary">
                    <mat-icon color="primary" svgIcon="save"></mat-icon>
                    <span *ngIf="!editMode"> {{'button-save' | transloco}}</span>
                    <span *ngIf="editMode"> {{'button-update' | transloco}}</span>
                   </button>
                <button type="button" mat-raised-button color="basic" (click)="cancel()" class="ml-2">
                    <mat-icon svgIcon="cancel"></mat-icon>
                    {{'button-cancel' | transloco}}
                </button>
            </form>
        </div>
    </div>
</div>