<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6">
        <div class="flex justify-between w-full">
            <mat-label class="table-title float-left">{{ 'Notification-table-title' | transloco }}</mat-label>
        </div>

        <div class="h-400 min-h-400 max-h-400 rounded-2xl mt-2.5">
            <!-- <div class="flex justify-between w-full">
                <div class="w-full sm:w-1/2 md:w-1/4">
                 <mat-form-field class="fuse-mat-dense w-30">
                    <mat-select name="export">
                        @for (ex of exportTypes; track ex) {
                        <mat-option [value]="ex.key" (click)="export(ex.key)">
                            <mat-icon class="mr-[5px]" [svgIcon]="ex.icon"></mat-icon>
                            <span>{{ex.value}}</span>
                        </mat-option>
                        }
                    </mat-select>
                    <mat-icon matPrefix svgIcon="mat_solid:file_download"></mat-icon>
                </mat-form-field>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/4">

                    <mat-form-field class="fuse-mat-dense w-full">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/4" style="align-content: center;">
                    <button  style="float: right;" class="float-right" mat-raised-button color="primary">
                        <mat-icon svgIcon="heroicons_outline:plus-small"></mat-icon>{{'lable.add-new' |
                        transloco}}</button>
                </div>
            </div> -->
            <table *ngIf="dataSource" mat-table [dataSource]="dataSource" matSort color="primary">
                <ng-container matColumnDef="position">
                    <th class="bg-primary" mat-header-cell *matHeaderCellDef>SR.No</th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="notificationEvents">
                    <th class="bg-primary" mat-header-cell *matHeaderCellDef>Notification Events</th>
                    <td mat-cell *matCellDef="let element"> {{element.notificationEvents}} </td>
                </ng-container>
                <ng-container matColumnDef="module">
                    <th class="bg-primary" mat-header-cell *matHeaderCellDef>Module</th>
                    <td mat-cell *matCellDef="let element"> {{element.module}} </td>
                </ng-container>
                 <ng-container matColumnDef="sender">
                    <th class="bg-primary" mat-header-cell *matHeaderCellDef>Sender</th>
                    <td mat-cell *matCellDef="let element"> {{element.sender}} </td>
                </ng-container>
                
               <ng-container matColumnDef="receiver">
                    <th class="bg-primary" mat-header-cell *matHeaderCellDef>Receiver</th>
                    <td mat-cell *matCellDef="let element"> {{element.receiver}} </td>
                </ng-container> 
                <ng-container matColumnDef="whatsapp">
                    <th class="bg-primary" mat-header-cell *matHeaderCellDef>Whatsapp</th>
                          <td mat-cell *matCellDef="let element">  
                        <mat-checkbox [checked]="element.whatsapp"
                        [color]="element.whatsapp ? 'primary' : ''"
                        (change)="updateStatus(element, 'whatsapp', $event.checked)">
          </mat-checkbox>
         </td>
                </ng-container>
                <ng-container matColumnDef="sms">
                    <th class="bg-primary" mat-header-cell *matHeaderCellDef>SMS</th>
                    <td mat-cell *matCellDef="let element">  
                        <mat-checkbox [checked]="element.sms"
                        [color]="element.sms ? 'primary' : ''"
                        (change)="updateStatus(element, 'sms', $event.checked)">
          </mat-checkbox>
         </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th class="bg-primary" mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">  
                        <mat-checkbox [checked]="element.email"
                        [color]="element.email ? 'primary' : ''"
                        (change)="updateStatus(element, 'email', $event.checked)">
          </mat-checkbox>
         </td>
                </ng-container>
                <ng-container matColumnDef="template">
                    <th class="bg-primary" mat-header-cell *matHeaderCellDef>Template</th>
                    <td mat-cell *matCellDef="let element">
                      
                      <!-- WhatsApp Template Icon -->
                      <mat-icon 
                        class="cursor-pointer text-gray-500 hover:text-green-500 icon-hover"
                        (click)="element.whatsappTemplate ? openTemplateDialog('whatsapp') : null" 
                        matTooltip="WhatsApp">
                        whatshot
                      </mat-icon>
                  
                      <!-- SMS Template Icon -->
                      <mat-icon 
                        class="cursor-pointer text-gray-500 hover:text-blue-500 icon-hover"
                        (click)="element.smsTemplate ? openTemplateDialog('sms') : null" 
                        matTooltip="SMS">
                        sms
                      </mat-icon>
                  
                      <!-- Email Template Icon -->
                      <mat-icon 
                        class="cursor-pointer text-gray-500 hover:text-yellow-500 icon-hover"
                        (click)="element.emailTemplate ? openTemplateDialog('email') : null" 
                        matTooltip="Email">
                        email
                      </mat-icon>
                  
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <th class="bg-primary" mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                       <mat-icon  class="cursor-pointer " color="primary"
                            (click)="openAddEditDialog(element)" matTooltip="Edit">edit</mat-icon>
                   
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">

                </tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <div class="noRecords" style="text-align: center;" *ngIf="dataSource && dataSource.data.length==0">
                No records found
            </div>

            <div *ngIf="loading" style="display: flex;justify-content: center;">
                <mat-spinner class="avatar spinner" [diameter]="60"></mat-spinner>
            </div>
            <mat-paginator #paginator [pageSize]="pageSize" [length]="totalElements" [hidePageSize]="false"
                [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons aria-label="Select page "
                (page)="onPaging($event)">
            </mat-paginator>
        </div>
    </div>
</div>